

$social_icon: (
    twitter:    (content: "\f2b0", color: #1ca0fe),
    facebook:   (content: "\f236",color: #3b5999),
    dribbble :  (content:"\f233",color: #ea4c89),
    linkedin :  ( content: "\f240",color: #0177b5),
    instagram:  (content: "\f23e",color:#E1306c),
    youtube:    (content: "\f34f",color: #ff0000),
    vimeo:      (content: "\f2c4",color: #1ab7ea),
    wordpress:  (content: "\f330",color: #0074aa),
    pinterest: (content: "\f244",color: #bd071c),
    tumblr: (content: "\f24d",color:#3e5a70),
    whatsapp: (content: "\f2c5",color: #00e676),
    reddit : (content: "\f247",color: #ff4500),
    vk: (content: "\f10d",color: #4a76a8)
);

ul{
    &.#{$prefix}-social-icons{
        @extend %reset-ul;
        @extend %clearfix;
        display: flex;
        flex-wrap: wrap;
        &.#{$prefix}-social-icons-no-text{
            span{
                font-size: 0;
            }
        }
       
        li{
            &:last-child{
                margin-left: 0;
            }
            a{
                display: inline-block;
                padding: 0 15px;
                text-decoration: none;
                font-size: 20px;
                height: 40px;
                line-height: 45px;
                &:before{ 
                    display: inline-block;
                    font-family: "Ionicons";
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    font-size: 24px;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                }
               
                @each $social,$icon in $social_icon{
                    &[href*="#{$social}"] {
                        &:before {
                            content: map-get($icon, content);
                            color: map-get($icon, color);
                        }
                    }
                    &:hover{
                        &[href*="#{$social}"] {
                            background-color: map-get($icon, color);
                            color: $color_white;
            
                            &:before {
                                color: $color_white;
                            }
                        }
                    }
                }
               
            }
            

        }
        &.#{$prefix}-social-hover-text{
            a{
                @each $social,$icon in $social_icon{
                    &:hover{
                        &[href*="#{$social}"] {
                            background-color: transparent;
            
                            &:before {
                                color: map-get($icon, color);
                            }
                            span{
                                color: map-get($icon, color);
                            }
                        }
                    }
                } 
            }
        }
        &.#{$prefix}-social-icons-rounded{
            li{
                padding-left: 5px;
                padding-right: 5px;
            }
            a{
                height: 50px;
                width: 50px;
                line-height: 50px;
                text-align: center;
                padding: 0;
                @include border(2px,solid);
                border-radius: 100%;
                @each $social,$icon in $social_icon{
                    &[href*="#{$social}"] {
                        border-color: map-get($icon, color);
                        color: map-get($icon, color);
                    }
                } 
            }
        }
        &.#{$prefix}-social-icons-sm{
            a{
                height: 40px;
                width: 40px;
                line-height: 36px;
                &:before{
                    font-size: 20px;
                }
            }
        }
    }
    
}
