
    a ,h1 a, h2 a, h3 a,h4 a {
        color:#6E412E;
    }
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        background-color: #6E412E;
    }
    .wen_corporate_social_widget li a:hover{
        border:1px solid #6E412E;
    }


     .main-navigation ul ul {
    background-color: #ffffff;
}
.main-navigation ul li ul li a:hover {
    background-color: #6E412E;
    color: #ffffff;
}
    .cycle-next:hover:before, .cycle-prev:hover:before {
        color: #6E412E;
    }
    a.read-more:after {
        color:#6E412E;
    }
    .wen_corporate_welcome_widget {
        background-color:#6E412E;;
    }
    .service-block-inner:after {
        background-color: #6E412E;
    }
    a:hover, a:focus, a:active {
        color: #6E412E;
    }
    a:visited {
        color:#54397E);
    }
    .footer-widget-area .widget-title {
    color: #ffffff;
}
    a:hover,
    a:focus,
    a:active {
        color:#6E412E;
    }
    a {
        color:#6E412E;
    }
    .cta-right a.btn-cta {
        background-color: #6E412E;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #6E412E;
    }
    .main-navigation li a:hover, .main-navigation li.current-menu-item a, .main-navigation li.current_page_item a {
        color: #6E412E;
    }
   .fa-search:before {
       background: none repeat scroll 0 0 #6E412E;
    }
    .wen_corporate_recent_posts_block_widget .owl-theme .owl-controls .owl-buttons div {
        background: none repeat scroll 0 0 #6E412E !important;
    }
    #secondary .widget > h3 {
        background-color: #6E412E;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="password"]:focus,
    input[type="search"]:focus,
    textarea:focus {
        border: 1px solid #6E412E;
    }
.widget .service-item-title a{
    color:#6E412E;
}
    .wen_corporate_social_widget li a:hover:before{
        color: #6E412E;
    }
    .wen_corporate_social_widget li a:hover{
        border-color:#6E412E;
    }
   .footer-widget-area li a:hover {
        color: #ffffff;
    }
    caption {
         color:#6E412E;
    }
    #primary .nav-previous a ,#primary .nav-next a{
        background: none repeat scroll 0 0 #6E412E;
    }
    blockquote:before {
       color: #6E412E;
    }
    body .mm-menu .mm-listview > li > a.mm-subopen:after,body .mm-menu .mm-listview > li > a.mm-subclose:before{
        border-color:#6E412E;
    }

   body .mm-listview > li > a, body .mm-listview > li > span,
   body .mm-menu .mm-listview > li > a.mm-subclose{
        color:#6E412E;

    }

    .sticky {
        background-color: #e9eeff;
    }

    #main-slider .pager-box {
        border: 1px solid  #6E412E;
    }
    #main-slider .pager-box.cycle-pager-active{
      background-color:#6E412E;
    }
    #masthead .search-form .search-submit {
        color: #6E412E;

    }
