.widget_calendar{
    table{
        border-spacing: 0;
        margin: 0;
    }
    thead{
        background-color: #e7eff2;
        color: $color_black;
        th{
            padding: 10px;
        }
    }
    tbody{
        background-color: $color_light_gray;
        color: $color_black;
        td{
            text-align: center;
            padding: 10px;
            @include border-left();
            @include border-top();
            border-color: rgba($color_gray,0.2);
            &:last-child{
                @include border-right();
            }
        }
        tr{
            &:last-child{
                td{
                    @include border-bottom();
                }
            }
        }
    }
    caption,
    tfoot{
        font-weight: $font_semi_bold;
    }
    caption{
        padding: 15px 0;
    }
    tfoot{
        a{
            display: inline-block;
            padding-top: 15px;
        }
    }
    a{
        color: $color_primary;
        font-weight: $font_semi_bold;
        font-size: 18px;
        &:visited{
            color: $color_primary;
        }
        &:hover{
            color: $color_hover;
        }
    }
}