.widget_recent_entries{
    li{
        position: relative;
        padding-left: 20px;
        &:before{
            content: '\f3d1';
            position: absolute;
            @extend %ionicons;
            left: 0;
            top: 8px;
            font-weight: bold;
            font-size: 20px;
        }
    }
}