.#{$prefix}-category{
    margin-left: -5px;
    margin-right: -5px;
    a{
        font-size: 0.9rem;
        font-weight: $font_semi_bold;
        @include border-bottom(2px,solid);
        @extend %primary-border;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        &:hover{
            color: $color_hover;
            border-color: $color_hover;
        }
    }
}