%comment-btn{
  display: inline-block;
  padding: 0 15px;
  line-height: 2;
  font-family: inherit;
  font-size: 1rem;
  font-weight: $font_semi_bold;
}
@import 'comments-list';
@import 'comments-response';
@import 'form-input';
.#{$prefix}-comments-section{
  padding: 0 15px 15px;
  font-weight: $font_semi_bold;
  margin-top: 30px;
  box-shadow: 0 0 8px 0 $color_blue_gray;
  @include media(sm){
    padding: 15px 30px 30px;
  }
  .comments-title{
    margin: 0;
    padding-bottom: 10px;
    @include border-bottom(2px,dotted);
    border-color: $color_blue_gray;
  }

}