$prefix         : "tm";
$root_font      : "Raleway";

$font_normal : 300; 
$font_semi_bold : 600;
$font_bold: 700;

$root_font_size : 16px;

$color_primary          : rgba(91,192,190,1);
$color_primary_bg_text_color          : #fff;
$color_hover            : rgba(31,123,122,1);
$color_hover_bg_text_color : #fff;
$color_black            : rgb(0, 0, 0) !default;
$color_white            : rgba(255,255,255.1) !default;
$color_light_gray       : rgba(248,249,250,1);
$color_dark_gray        : #D5D5D5;
$color_blue_gray        : rgba(207, 216, 220,1);
$color_gray             : rgba(128,128,128,1);