.#{$prefix}-blog-section{
    padding: 15px 0 45px;
    .#{$prefix}-section-title{
        margin-top: 30px;
        margin-bottom: 0;
    }
    .#{$prefix}-blog-list{
        .#{$prefix}-blog{
            padding-left: 7.5px;
            padding-right: 7.5px;
            margin-top: 45px;
            @include transition();
            &:hover{
                @include transform(translateY(-15px));
            }

        }
    }
    .#{$prefix}-blog-slider{
        .slick-arrow{
            top: 200px;
            @include transform(none);
        }
    }
    
    
}