.#{$prefix}-article-post{
    ul{
        &:not(.wp-block-gallery){
            margin: 0;
            padding: 0 15px;
            li{
                line-height: 2;
            }
        }
        
    }   
}